nav {
    background-color: rgb(var(--offbg-clr));
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    border-radius: 2rem;
    margin: 1rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav a img {
    width: clamp(100px, 10vw, 150px);
    height: 100px;
    min-height: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    color: rgba(var(--txt-clr), 0.4) !important;
    position: relative;
    transition: color 1s;
    background: linear-gradient(90deg, rgb(var(--main-clr)) 0%, rgb(var(--main-clr)) 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-size 0.3s;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: rgb(var(--main-clr));
    transition: width 0.8s;
    pointer-events: none;
    opacity: 0;
}

nav ul li a:hover {
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    transition: color 0.5s, background-size 0.5s, -webkit-text-fill-color 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    opacity: 1;
}