/* Global Styling */

main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  color: rgb(var(--txt-clr));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.grd-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.content-wrapper {
  width: 100%;
  max-width: 1600px;
  background-color: rgb(var(--offbg-clr));
  border-radius: 3rem;
  margin-top: 4rem auto;
}
/* #endregion */

/* #region Navigation */

nav {
    position: fixed;
    top: 0;
    background-color: rgb(var(--offbg-clr));
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    border-radius: 2rem;
    margin: 1rem 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
nav a img {
    width: clamp(100px, 10vw, 150px);
    height: 100px;
    min-height: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: rgba(var(--txt-clr), 0.4) !important;
    position: relative;
    transition: color 1s;
    background: linear-gradient(90deg, rgb(var(--main-clr)) 0%, rgb(var(--main-clr)) 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-size 0.3s;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: rgb(var(--main-clr));
    transition: width 0.8s;
    pointer-events: none;
    opacity: 0;
}

nav ul li a:hover {
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    transition: color 0.5s, background-size 0.5s, -webkit-text-fill-color 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    opacity: 1;
}

.theme-switch {
  opacity: 0;
  position: absolute;
}

.theme-switch-label {
  background-color: #303030;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-switch:checked + .theme-switch-label {
    background-color: #090631;
}

.fa-moon {color: #f1c40f;}

.fa-sun-bright {color: #e08e0a;}

.theme-switch-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.theme-switch:checked + .theme-switch-label .ball {
  transform: translateX(24px);
}

/* #endregion */