/* #region Landing Section */

    .landing {
        position: relative;
        width: 100%;
        height: 80vh;
    }

    .btn-bar {
        position: absolute;
        top: 8rem;
        right: 0;
        display: flex;
        gap: 10px;
        z-index: 10;
    }

    .landing-bg {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .landing-bg img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform-origin: bottom;
    }

    .landing-bg img:first-child {
        z-index: 1;
    }

    .landing-bg .landing-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        opacity: 0;
        transition: opacity 500ms ease;
        z-index: 2;
    }

    .landing-bg .landing-text h2 {
        font-size: 2.3rem;
        font-weight: 500;
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
        white-space: nowrap;
    }

    .landing-bg .landing-text h2 span {
        font-weight: bolder;
        font-size: 4rem;
    }

    .landing-bg img:last-child {
        z-index: 3;
        position: absolute;
        bottom: 0;
    }

/* #endregion */

/* #region Search Bar */

    .search-section {
        width: 100%;
        max-width: 1200px;
    }

    .search-bar {
        max-width: 600px;
        width: 100%;
        background-color: rgb(var(--bg-clr));
        border-radius: 8px;
        display: flex;
        align-items: center;
        animation: shadow-source 1s ease;
        animation-timeline: view();
        animation-range-start: cover 100px;
        animation-range-end: cover calc(100% + 100px);
        margin: 1rem 0;
    }

    .search-bar input {
        flex: 1;
        padding: 0.5rem 1rem;
        background: inherit;
        color: rgb(var(--txt-clr));
        border: none;
        border-radius: 8px 0 0 8px;
        font-size: 1rem;
    }

    .search-bar button {
        height: 100%;
        padding: 0 1rem;
        border: none;
        background: transparent;
        color: rgba(var(--main-clr), 0.5);
        filter: saturate(0.5);
        border-radius: 0 8px 8px 0;
        cursor: pointer;
        font-size: 1rem;
        box-shadow: none;
        transition: all 200ms ease-in-out;
    }


    .search-bar button:hover,
    .search-bar button:active,
    .search-bar button:focus  {
        background: transparent !important;
        color: rgba(var(--main-clr), 1);
        box-shadow: none !important;
        transform: translate(0) !important;
        filter: saturate(1);
    }

    .cta-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgb(var(--main-clr));
        padding: 1rem;
        border-radius: 1rem;
        animation: shadow-source 1s ease;
        animation-timeline: view();
        animation-range-start: cover 100px;
        animation-range-end: cover calc(100% + 100px);
    }

    .cta-section h4 {
        text-align: center;
        filter: invert(1);
    }

    .cta-section button {
        background: rgb(var(--offbg-clr));
    }

    .cta-section button:hover,
    .cta-section button:active,
    .cta-section button:focus {
        background: rgb(var(--bg-clr)) !important;
    }

/* #endregion */

/* #region Main Menu */

    .menu-section {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-section h2 {
        width: 100%;
        max-width: 1200px;
        font-size: 2.5rem;
        font-weight: 800;
        color: rgb(var(--main-clr));
        justify-self: left;
        padding: 0 20px;
    }

    .main-menu {
        justify-self: center;
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        gap: 16px;
        padding: 16px;
    }

    .card {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        color: white;
        display: flex;
        align-items: flex-end;
        padding: 15px;
        font-size: 1.1rem;
        transition: all 300ms ease-in-out;
    }

    .card:hover {
        transform: translateY(-5px) scale(1.02);
        cursor: pointer;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }

    .card--big   { grid-column: 1 / 2; grid-row: 1 / 3; background: #666; }
    .card--top1  { grid-column: 2 / 3; grid-row: 1 / 2; background: #d46079; }
    .card--top2  { grid-column: 3 / 4; grid-row: 1 / 2; background: #79a6d4; }
    .card--wide  { grid-column: 2 / 4; grid-row: 2 / 3; background: #5ab87e; }

/* #endregion */

/* #region Short About */

.short-about {
    position: relative;
    width: 100%;
}

.short-about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
    margin: 1rem 0;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.1);
}

.short-about-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.short-about-text {
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.short-about-text h2 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(var(--main-clr));
    margin-bottom: 1rem;
}

.short-about-text p {
    font-size: 1.2rem;
    color: rgb(var(--txt-clr));
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* #endregion */

/* #region Timeline */

    .awards-section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: inset 2px solid red;
        width: 100%;
        min-height: 80vh;
    }
    
    .timeline-header {
        position: absolute;
        top: 0;
        background: rgb(var(--offbg-clr));
        font-size: 2.5rem;
        font-weight: 800;
        color: #1a237e;
        text-align: center;
        padding: 0 2.5rem;
        margin: 2.5rem;
        z-index: 1;
    }

    .award-timeline {
        position: absolute;
        top: 1.40rem;
        width: 95%;
        margin: 40px auto;
        padding: 50px 0 0 0;
        border: 0.3rem solid rgb(var(--main-clr));
        border-radius: 10px;
        overflow-x: auto;
    }

    .svg-innertext {
        font-family: var(--font-main);
        font-size: 30px;
        font-variation-settings: 'wght' 800;
        font-weight: bolder;
    }

    .svg-innertext, .svg-inneritem {
        fill: rgb(var(--main-clr));
        transform-origin: center;
    }

    .svg-separator {
        fill: rgb(var(--txt-clr));
        opacity: .3;
    }

    .svg-innersubtext {
        font-family: var(--font-main);
        font-size: 14px;
        font-variation-settings: 'wght' 500;
        font-weight: 500;
        fill: rgb(var(--txt-clr));
    }

    .main-branch { 
        fill: rgb(var(--bg-clr));
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
    }

/* #endregion */

.dummy {
    height: 100vh;
    width: 100%;
}