body {
    font-family: var(--main-font);
    background: var(--def-offbg);
    color: var(--def-txt-clr);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    border: 0;
    height: 1px;
    background: var(--def-clr-shadeb);
    margin: 20px 0;
}

.form-container {
    padding: 15px;
    width: 90%;
    height: 90%;
    background: var(--def-bg-clr);
    border-radius: 8px;
    box-shadow: 0 2px 6px var(--def-shadow-clr);
    overflow: hidden;
}

.form-title {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--def-main-clr);
}

.blog-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    overflow: hidden;
}

.formleft, .formright {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    box-shadow: inset 0 1px 3px var(--def-shadow-clr);
}

.formleft {
    flex: 35%;
    border-right: 1px solid var(--def-clr-shaded);
}

.formright {
    flex: 65%;
}

.content-block {
    margin-bottom: 20px;
}

.content-block h2, .content-block h3 {
    margin-bottom: 10px;
    color: var(--def-main-clr);
}

.content-block p {
    margin: 0;
    color: var(--def-txt-clr);
}

@media (max-width: 768px) {
    .form-container {
        padding: 10px;
    }

    .blog-form {
        flex-direction: column;
    }

    .formleft, .formright {
        width: 100%;
        flex: none;
    }
}
